@font-face {
    font-family: "UbuntuBold";
    src: url("fonts/Ubuntu/Ubuntu-Bold.ttf");
}
@font-face {
    font-family: "UbuntuMedium";
    src: url("fonts/Ubuntu/Ubuntu-Medium.ttf");
}
@font-face {
    font-family: "UbuntuLight";
    src: url("fonts/Ubuntu/Ubuntu-Light.ttf");
}

html {scroll-behavior: smooth}

* {
    margin: 0;
    padding: 0;
    outline:none;
    font-size: 16px;
}

body {
    height: 100%;
    min-height: calc(100vh - 145px);
}

.full_screen {
  height: 100vh; 
  height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
  width: 100%;    
}

.page1 {
    width: 100%;
    height: 100vh;
    background-image: url("images/header-bg.jpg");
}

.container {
    width: calc(100% - 23%);
    height: calc(100vh - (75px + 70px));
    padding: 75px 11.5% 70px 11.5%;
}

header {
    position: relative;
}

.header_logo {
    font-size: 44px;
    font-weight: bold;
    color:White;
    position: absolute;
    font-family: "UbuntuBold";
    z-index: 5;
}

header nav ul {
    width: 600px;
    display: flex;
    position: absolute;
    top: 8px;
    right: -50px;
    justify-content: space-between;
}

header nav ul li{
    margin-right: 8%;
    font-family: "UbuntuBold";
}

/*header nav ul li a */
header nav ul li a{
    color:White;
    text-decoration: none;
    font-size: 25px;
}

.center-word {
    width: 590px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    top: calc(50% - 125px);
}

.center-word-firstline{
    font-size: 70px;
    color:White;
    font-family: "UbuntuBold";
}

.center-word-secondline{
    font-size: 40px;
    color:White;
    font-weight: 100;
    font-family: "UbuntuLight";
}

.scroll-icon {
    height: calc(100% - 130px);
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}

.scroll-img {
    height: 50px;
    margin: 0 auto;
}

/* 2 БЛОК */

.top-word {
    width: 170px;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.top-word_firstline {
    font-size: 55px;
    color:#303030;
    font-family: "UbuntuBold";
    line-height: 50px;
}

.top-word_services {
    font-size: 28px;
    font-family: "UbuntuMedium";
    color:#787878;
    position: relative;
}

.top-word_services::after {
    content:"";
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: #303030;
    bottom: -7px;
    left: calc(50% - 14px);
}

.services_pluses {
    width: 100%;
    min-height: 50vh;
    height: calc(100vh - 25vh);
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: -20px;
    position: relative;
}

.plus {
    width: 350px;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 90px 0px;
    position: relative;
}

.plus2 {
    margin: 0 30px;
}

.services1,.services2,.services3 {
    max-width: 160px;
}

.plus_name {
    margin: 15px 0px;
    font-size: 35px;
    color:#787878;
    font-family: "UbuntuBold";
}

.plus_info {
    max-width: 260px;
    font-size: 18px;
    text-align: justify;
    color:#787878;
    font-family: "UbuntuLight";
}

.services_button {
    display: block;
    border: none;
    height: 60px;
    width: 300px;
    border-radius: 50px;
    font-family: "UbuntuBold";
    font-size: 20px;
    background-image: linear-gradient(to top, #4a50a8, #5f407b);
    color:white;
    position: absolute;
    margin: 0 auto 0 auto;
    cursor: pointer;
    bottom: -20px;
}

/*Пофиксить вертикальную деформацию*/

@media all and (max-width: 1100px) {
    .page1 .container header nav ul {
        flex-direction: column;
        align-items: flex-end;
        width: 550px;
    }
    
    .page1 .container header nav ul li {
        margin-bottom: 4px;
        margin-right: 60px;
    }
    
    .page1 .container header nav ul li::after {
        content:"";
        margin: 5px 0px 0px 5px;
        height: 23px;
        width: 2px;
        background-color: white;
        position: absolute;
        border-radius: 50px;
    }
    
    .center-word {
        top: calc(60% - 125px)
    }
    
    .services_pluses {
        height: auto;
        flex-wrap: wrap; 
    }
    
    .plus {
        flex-grow: 1;
        margin: 0 auto;
        padding-bottom: 0;
    }
    
    .plus2 {
        text-align: center;
    }
    
    .plus3 {
        padding-top: 10vh;
        padding-bottom: 100px;
    }
    
    .container {
        position: relative;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }
    
    .center-word {
        width: auto;
        height: 125px;
    }
    
    .scroll-icon {
        display: none;
    }
}

@media screen and (max-width: 435px) {
    .center-word-firstline {
        font-size: 55px;
    }
    
    .center-word-secondline {
        font-size: 31px;
    }
    
    .header_logo {
        font-size: 40px;
    }
    
    .page1 .container header nav ul li a {
        font-size: 20px;
    }
    
    .page1 .container header nav ul li::after{
        margin: 3px 0px 0px 5px;
        height: 20px;
        display: none;
    }
    
    .services_button {
        bottom: -35px;
        margin: 30px;
        width: 260px;
        font-size: 19px;
    }
    
    /*MOBILE_MENU*/
    .burger {
        position: absolute;
        right: 0;
        width: 35px;
        height: 15px;
        margin-top: 15px;
        z-index: 5;
        transform: rotate(180deg);
        transition-duration: 0.6s;
    }
    
    .burger-line1,.burger-line3 {
        position: absolute;
        height: 2px;
        width: 100%;
        background: white;
    }
    
    .burger-line3 {
        bottom: 0;
    }
    
    .burger-line1, .burger-line3 {
        transition-duration: 0.6s;
    }
    
    .burger_active .burger-line3 {
        transform: rotate(45deg);
        bottom: 6px;
    }
    
    .burger_active .burger-line1 {
        transform: rotate(-45deg);
        top: 6px;
    }
    
    .burger_active {
        transform: rotate(90deg)
    }
    
    .mobile-menu {
        position: absolute;
        right: 100%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #303030;
        height: 100vh;
        width: 100vw;
        transition-duration: 0.6s;
    }
    
    .mobile-menu-close {
        right: 0%;
    }
    
    .nav-link {
        color:White;
        text-decoration: none;
        font-size: 25px;
        margin: 15px;
        font-family: "UbuntuBold";
    }
    
    .page1 {
        background-color: #2e3375;
    }
    
    .page1 .container {
        overflow-x: hidden;
    }
}
