@font-face {
    font-family: 'default-font';
    src: url("fonts/static/Lora-MediumItalic.ttf");
}

/*normalize styles*/

html {height: 100%;background-color: #292929}

body {
    background-color: #242424;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display:flex;
    width: 100%;
    font-family: 'default-font';
    flex-direction: column;
    font-size: 21px;
    outline: none;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

*::selection {
    background-color: lightgray;
    color:black;
}

header {
    background-color:rgba(0, 0, 0, 0.7);
    border-radius: 0px 0px 30px 30px;
    margin:0 auto;
    height: 80px;
    width: 850px;
    flex-grow: 0;
    z-index: 2;
}

.header_container .header_container-nav ul{
    justify-content: center;
    height: 80px;
    display:flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header_container .header_container-nav ul li {
    position: relative;
}

.header_container .header_container-nav ul li a {
    text-decoration: none;
    display: inline-block;
}

.nav_portfolio, .nav_if-die, .nav_products, .nav_about {
    margin:0px 30px;
    transition-duration: 0.7s;
    color:white;
}

.nav_portfolio:hover, .nav_if-die:hover, .nav_products:hover, .nav_about:hover {
    color:#9b9b9b;
    transition-duration: 0.0s;
}

.nav_portfolio::before, .nav_if-die::before, .nav_products::before, .nav_about::before {
    content:"";
    background-color: #ffffff;
    position: absolute;
    bottom: -26px;
    height: 3px;
}

.nav_about:hover::before {width:56px;background-color:#9b9b9b}
.nav_portfolio::before {width:146px;}
.nav_if-die:hover::before {width:172px;background-color:#9b9b9b}
.nav_products:hover::before {width:72px;background-color:#9b9b9b}
/*HEADER-END*/

main {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    background-color: gray;
}

main .img_background {
    width: 100%;
    height: 100%;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    outline: none;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.portfolio_slider {
    position: relative;
    z-index: 1;
    width: 80%;
    margin:0 auto;
    max-width: 78%;
    margin-top: 10vh;
    background-color: rgba(0,0,0,0.7);
    padding-bottom: 10px;
}

.portfolio_slider img {
    height: auto;
    margin:40px;
    max-height: 450px;
    outline:none;
    border-radius: 5px;
    border:2px solid black;
    cursor: pointer;
}

.slick-track {
    display: flex;
    text-align: center;
}

.portfolio_slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio_slider .slick-dots li {
    list-style: none;
    margin: 0 10px;
}

.portfolio_slider .slick-dots button {
    font-size: 0;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    border:none;
    cursor: pointer;
    outline: none;
}

.portfolio_slider .slick-dots li.slick-active button{
    background-color: black;
    border:2px solid white;
    height: 16px;
    width: 15px;
}

ul.slick-dots {
    margin: 0;
}

.portfolio_slider .slick-arrow {
    margin-top: -25px;
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 50px;
    outline: none;
    border: none;
    cursor: pointer;
}

.portfolio_slider .slick-arrow.slick-prev {
    left: 0;
    background:url("leftArrow.gif") 0 0 / 100% no-repeat;
    background-color:black;
    width: 38px;
    border-radius: 5px;
}

.portfolio_slider .slick-arrow.slick-next {
    right: 0;
    background:url("rightArrow.gif") 0 0 / 100% no-repeat;
    background-color:black;
    width: 38px;
    border-radius: 5px;
}

footer {
    border-top:2px solid white;
    border-radius: 30px 30px 0px 0px;
    margin: 0 auto;
    height: 80px;
    width: 850px;
    background-color:rgba(0, 0, 0, 0.6);;
    flex-grow: 0;
    position: relative;
    z-index: 1;
}

footer .footer_container {
    padding-top: 5px;
    height: calc(100% - 5px);
    color: white;
    text-align: center;
}

.footer_phone {
    display: inline-block;
    color:white;
    margin:7px 23px;
    font-size: 20px;
}

footer img {
    width: 45px;
    height: 30px;
    position: absolute;
    right: 192px;
    bottom: 6px;
    right: 210px;
    transform: rotate(190deg);
}