html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Lato-b";
  src: url("font/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato-r";
  src: url("font/Lato-Regular.ttf");
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Lato-r";
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  width: 100%;
  height: 100px;
}

.header__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 156px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-icon {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (15px)[2];
      grid-template-columns: repeat(2, 15px);
  grid-gap: 4px;
}

.header__logo-name {
  font-size: 30px;
  color: #2d3950;
  font-family: "Lato-b";
}

.element1, .element3 {
  position: relative;
  bottom: 3px;
}

.main__window {
  background-image: url("img/main/bg1.png");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  max-width: 1920px;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calc(100vh - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.main__window-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 304px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.main__window-title {
  letter-spacing: 2px;
  color: white;
  font-size: 80px;
  margin-top: -20px;
  margin-bottom: -20px;
  font-family: "Lato-b";
}

.main__window-line {
  height: 2px;
  max-width: 600px;
  width: 100%;
  margin-bottom: -15px;
  background-color: #15a4fa;
}

.main__window-subtitle {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  text-align: center;
}

.main__window-btn {
  width: 182px;
  background-color: #15a4fa;
  height: 60px;
  font-size: 20px;
  color: White;
  font-family: "Lato-r";
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.main__window-btn:hover {
  background-color: #1485c9;
}

.main__design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 340px;
  background-color: #f6f9f9;
}

.main__design-inner {
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
}

.main__design-title {
  font-size: 40px;
  color: #2d3950;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.main__design-subtitle {
  margin-top: 15px;
  font-size: 20px;
  color: #999999;
  line-height: 28px;
  margin-bottom: 45px;
}

.main__pluses {
  background-color: white;
  min-height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__pluses-inner {
  margin: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 200px;
}

.main__plus {
  max-width: 240px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 180px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main__plus-icon {
  background-color: #15a4fa;
  border-radius: 5px;
}

.main__plus-title {
  font-size: 22px;
  color: #2d3950;
}

.main__plus-subtitle {
  font-size: 15px;
  color: #999999;
}

.main__works {
  background-color: #f6f9f9;
  min-height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__works-inner {
  max-height: 905px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 75px;
}

.main__top-content {
  margin-top: 10px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__works-title {
  font-size: 40px;
  color: #2d3950;
  letter-spacing: 1px;
  text-align: center;
}

.main__works-subtitle {
  font-size: 15px;
  color: #999999;
  line-height: 28px;
  text-align: center;
  margin-top: 10px;
}

.main__bottom-content {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.4vw;
  max-width: 1100px;
  max-height: 520px;
}

.main__bottom-img {
  height: auto;
  width: 100%;
  max-width: 360px;
}

.plus-icon1 {
  padding: 24px 34px;
}

.plus-icon2 {
  padding: 28.5px 29px;
}

.plus-icon3 {
  padding: 31px 28px;
}

.plus1 {
  height: 200px;
}

.plus2 {
  height: 200px;
  margin: 60px 30px;
}

.plus3 {
  height: 200px;
}
