@font-face {
    font-family: "NotoSansBold";
    src: url("/font/Noto_Sans_KR/NotoSansKR-Bold.otf")
}

@font-face {
    font-family: "NotoSansMedium";
    src: url("/font/Noto_Sans_KR/NotoSansKR-Medium.otf")
}

*, *:focus {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-image:radial-gradient(white,#ffffdf);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-block {
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding: 0 8px;
}

.coin {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: -20px;
}

.button,.button-input,.button-progress {
    height: 220px;
    max-height: 32px;
    width: 150px;
    border-radius: 50px;
}

.button-input {
    padding-bottom: 3px;
    border: 2px solid black;
    font-size: 14px;
    cursor: pointer;
    background-color: transparent;
    font-family: "NotoSansMedium";
    z-index: 1;
}

.button-progress {
    width: 0px;
    z-index: -1;
    position: absolute;
    top: 0;
    background-color: lightblue;
}

.button {
    position: relative;
}

.flip-counter {
    font-size: 30px;
    margin-top: 20px;
}

.coin-info {
    margin-bottom: 20px;
    font-family: "NotoSansBold";
}
